<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>マシンの詳細</title>
</head>
<body>
  <h2>マシンの詳細</h2>
  <table>
    <tr><th>ID</th><th>マシン名</th></tr>
      <% let number = 0 %>
      <% for( let row of data ) { %>
        <tr><td><%= row.id %></td>
        <td><a href="/air_rider/<%= number %>"><%= row.name %></a></td></tr>
        <% number += 1 %>
      <% } %>
  </table>
  <a href="/air_rider/create">追加</a>
</body>
</html>