<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>寿司一覧</title>
</head>
<body>
  <h2>寿司一覧</h2>
  <table>
    <tr><th>ID</th><th>コード</th><th>商品名</th></tr>
      <% let number = 0 %>
      <% for( let row of data ) { %>
        <tr><td><%= row.id %></td>
        <td><%= row.code %></td>
        <td><a href="/sushi/<%= number %>"><%= row.name %></a></td></tr>
        <% number += 1 %>
      <% } %>
  </table>
  <a href="/sushi/create">追加</a>
</body>
</html>